
/*
file name: Edwin Cheah
author: Edwin Cheah
created: 3rd April 2020
last modified: 5th April 2020
description: "../index.html" "../about.html" "../product.html" "../enquire.html" "../enhancements.html" "../placeholder.html"
*/


/* Laptop up to 1230 resolution - https://medium.com/@banuriwick/min-width-max-width-media-queries-994e2ec5fca3  */
    @media screen and (min-width: 1025px) and (max-width:1230px){
    /*general*/

    /* Boddy */
        .body-info{
        max-width: 55%;
        min-width: 55%;
        }

    /* Welcome Header */
        .Welcome{
            padding: 0px;
            color: yellow;
            font-family: Elements;
            text-align: center;
            }
    
        #flash-tag{
            font-size: medium;
            }
        
    /*Products Deaal News and Products container*/
    .Products_and_Deal_Container, .News_and_Quick_Links_Container{
            max-width: 65%;
            vertical-align: text-top;
            float: right;
            }
    

    /* Index Page */
        /* News Articles 1-3 */
            .News-Article{
                align-content: center;
                margin-left: auto;
                margin-right: auto;
                width: 230px;
                margin:10px;
                height: 400px;}
            
        /* Quick Links */
            .Quick-Links{
                width: 200px;
            }

      


    /* About Me Page */
        /*Introduction Paragraph Span*/
            #About-Container span{
                float:left;
                width: 500px;
                padding: 10px;
            }

            /* Edwin's Photo */
                #Photo-Container{
                    float: none;
                    clear: both;
                }

            /*About Table*/
                table{
                    width: 100%;
                    height: auto;
                    background-color: #ffc4a2;
                    font-size: smaller;
                }
        


        
    /* Products Page*/
        /* Products, Seats and Meal Tile Container Border Settings */
            .Products, .Seats, .meal{
                height: 500px;
                vertical-align: text-top;    
               }


        /* Weekend Table Overflow */
            .table-overflow{
                overflow-x: auto;
            }
        


    /*Enquire Page*/
        /*Adjust Form Size*/
            #Form-Fieldset{
                clear:both;
            }
        
            #Form-Fieldset-2{
                width: 90%;
                clear:both;
            }

            #Enquire-Container label, #Enquire-Container input{
                width: 100%;
            }
        
        /* Contact and Diertry Container */
            #Contact-Container label, #Contact-Container input, #Dietry-Container label, #Dietry-Container input{
                width: 20px;
                vertical-align: middle;
                margin-right: auto;
                }

}



